body {
  margin: 0;
  font-family: Arial;
  background: $linear;
}

navbar {
  overflow: hidden;
  background-color: white;
}

navbar a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

navbar a:hover {
  
}

navbar a:active {
  
}
