body {
  margin: 0;
  font-family: Arial;
  background: $linear;
}

a {
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

navbar {
  overflow: hidden;
  background-color: rgb(124, 173, 57);
}

navbar a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

navbar a:hover {
  background-color: rgb(95, 135, 48);
}

navbar a:active {
  
}
